* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
    text-decoration: none;
    scroll-behavior: none;
    list-style: none;
}

header {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.logo{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    color: #ff6347;
    transform: scale(1.1);
}

.nav-links{
    display: flex;
    gap: 2rem;
}

li a {
    position: relative;
    color: white;
    font-weight: 300;;
}

li a::before {
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(0, 255, 200));
}

li a:hover::before {
    width: 100%;
}

.visit-btn{
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(0, 255, 200));
}

.visit-btn:hover{
    background: linear-gradient(to right, rgb(0, 255, 200), rgb(0, 157, 255));
    transform: scale(1.05);
}

#menu-icon{
    font-size: 2rem;
    display: none;
}

section {
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about img {
    width: 30vw;
    border-radius: 25%;
}

.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1 {
    font-size: 4rem;
    font-weight: 600;
}

.info-box span {
     background: linear-gradient(to right, rgb(0, 157, 255), rgb(0, 255, 200));
     background-clip: text;
     color: transparent;
     font-size: 1.25rem;
}

.btn-group {
    display: flex;
    gap: 1rem;
}

.btn {
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid rgb(0, 157, 255);
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: ease-in-out 0.3s;
}

.btn:hover {
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(0, 255, 200));
    color: white;
}

.socials {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.socials i {
    font-size: 2.5rem;
    color: rgb(0, 157, 255);
    cursor: pointer;
    transition: ease-in-out 0.3;
}

.socials i:hover {
    color: rgb(0, 255, 200);
    transform: scale(1.1);
}

.section-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.experience video {
    width: 40vw;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid-card {
    border: 2px solid black;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.grid-card:hover {
    background-color: rgba(255, 73, 164, 0.8);
    border: none;
    color: white;
    box-shadow: 0 0 25px rgba(0, 157, 255, 0.8);
}

.grid-card i {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.grid-card span {
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(0, 255, 200));
    background-clip: text;
    color: transparent;
}

.video-container {
  overflow: hidden;
  width: 50%;
  height: 50%; 
}

.video-container video {
  display: block; 
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: rgb(200, 200, 200);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, rgb(0, 157, 255), rgb(0, 255, 200));
    border-radius: 10px;
    border: 3px solid rgb(200, 200, 200);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 3.5rem;
}

.project-card {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.1) translateY(-10px);
    background-color: rgb(0, 157, 255);
    border: none;
    color: white;
}

.project-card img {
    width: 30vw;
}

.project-card:hover .btn {
    border: 2px solid white;
    color: white;
}

.project-card h3 {
    font-size: 2rem;
    font-weight: 500;
}

.project-card p {
    font-size: 1.5rem;
    font-weight: 400;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

.input-box input {
    border-radius: 3rem;
    border: 2px solid black;
    padding: 1rem 2rem;
    font-size: 3rem;
}

.input-box input::placeholder {
    font-size: 3rem;
}

.input {
    position: relative;
}

.input i {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    right: 10px;
    transform: translate(50%,-50%)
}

footer{
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

footer ul {
    display: flex;
    align-items: center;
    gap: 3rem; 
}

footer ul li a {
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
}

.copyright {
    font-size: 300;
    margin-top: 2rem;
}

.experience p {
    font-size: 1.1rem;
    padding-top: 1rem;
}

.skills {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem; 
}


.skills .buttons {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap; 
}

.skills-btn {
    padding: 0.6rem 0.8rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 1px solid #ccc;
}

.skills-btn:hover {
    background-color: rgb(0, 157, 255);
    color: white;
    border: none;
    transform: scale(1.1);
}

.skills .label {
    font-size: 1.3rem;
    font-weight: 500;
}

.subsection-header {
    font-weight: 500;
}

.subsection-title {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.research-card {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-bottom: 2rem;
}

.research-card h3 {
    text-align: center;
}

.research-card p {
    text-align: left;
    width: 100%;
}

.research-card:hover {
    transform: scale(1.05) translateY(-10px);
    background-color: rgb(0, 157, 255);
    border: none;
    color: white;
}

@media(max-width: 1280px) {
    header {
        padding: 1rem 2rem;
        gap: 2rem;
    }

    .about .about-container {
        gap: 2rem;
    }

    .about img {
        width: 60vw;
    }

    .experience-info {
        flex-direction: column;
        gap: 3rem;
    }

    .input-box input {
        padding: 2rem 5rem;
        font-size: 2.5rem;
    }

    .input input::placeholder {
        font-size: 2.5rem;
    }

    .input-box i {
        font-size: 2.5rem;
    }
}

@media(max-width: 768px) {
    header {
        padding: 1rem 1rem;
        gap: 1rem;
    }

    header .logo {
        font-size: 1rem;
    }

    header .visit-btn {
        display: none;
    }

    .about-container {
        flex-direction: column;
    }

    .input-box input {
        padding: 1rem 2rem;
        font-size: 1.8rem;
    }

    .input input::placeholder {
        font-size: 1.5rem;
    }

    .input-box i {
        display: none;
    }

    .grid {
        grid-template-columns: repeat(1,1fr);
    }

    .experience-info .video-container {
        width: 60vw;
    }

    .skills {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
    }
  
}

@media(max-width: 600px) {

    .about {
        margin-top: 1rem;
    }
    
    .header-btn {
        display: none !important;
    }

    header #menu-icon{
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgba(0, 157, 255, 0.9);
        border-radius: 3rem;
        display: none;
    }

    .nav-links li {
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .nav-links.active {
        display: block;
    }

    header {
        gap: 1.5rem;
        justify-content: space-between;
        width: calc(100% - 2rem);
        justify-content: space-between;
        padding: 0.75rem 1.25rem;
        gap: 0;
    }


    header .logo {
        font-size: 1.5rem;
    }

    .about {
        flex-direction: column;
    }

    .about-container .img{
        width: 80vw;
    }

    .experience .video-container {
        width: 60vw;
    }

    .input-box input {
        padding: 0.5rem 3rem;
        width: 80%;
        font-size: 1.5rem;
    }

    .input-box input::placeholder {
        font-size: 1.5rem;
    }

    #about {
        padding-top: 8rem; 
    }

    section {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .project-grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 0 auto;
        width: 100%;
        max-width: 400px; 
        gap: 2rem;
    }

    .project-card {
        width: 100%;                 
        max-width: 100%;              
    }

    footer {
        width: 100%;
        padding: 2rem 1rem; 
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer ul {
        justify-content: center; 
        gap: 1rem;
    }


    section {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media (max-width: 600px) {
    .section-content {
        margin-left: auto;
        margin-right: auto;
    }
}

}

a {
    color: inherit;
    text-decoration: none;
}
